<div class="container text-center">
  <h1>Votre Réservation</h1>
  <p><%= @service.name %></p>
  <p><%= @professional.first_name %></p>



<%= simple_form_for [@professional_service, @booking] do |f| %>
  <%=
  f.collection_radio_buttons(:start_date, @slots, :last, :first) do |b|
    b.radio_button(class: "btn-check") + b.label(class: "btn btn-primary")
  end %>
  <%= f.button :submit %>
<% end %>
</div>
