<h2>Salons</h2>

<!-- Dropdown pour sélectionner un salon -->
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <%= @salon&.name || "Aucun salon disponible" %>
  </button>
  <ul class="dropdown-menu">
    <% @salons.each do |salon| %>
      <li>
        <%= link_to salon.name, salon_path(salon), class: "dropdown-item" %>
      </li>
    <% end %>
    <li>
      <%= link_to "Ajouter un salon", new_salon_path, class: "dropdown-item" %>
    </li>
  </ul>
 <ul class="sidebar-links">
  <li><%= link_to "Dashboard", dashboard_salon_path(@salon), class: "btn btn-light" %></li>
  <li><%= link_to "Réservations", salon_bookings_path(@salon), class: "btn btn-light" %></li>
  <li><%= link_to "Professionnels", salon_professionals_path(@salon), class: "btn btn-light" %></li>
  <li><%= link_to "Services", salon_services_path(@salon), class: "btn btn-light" %></li>
</ul>

</div>
