<div class="container mt-5">
  <!-- Début du filter cards -->
  <div class="filter-component">
    <div class="filter-container"  id="search" style="width: 250px;">
          <div class="filters">
            <%= form_with url: salons_path, method: :get, local: true, class: "filter-form" do %>
            <%= hidden_field_tag :location, params[:location].presence || "Paris" %>
            <%= select_tag :style, options_for_select(@service_categories,params[:style].presence || "Tous"), class: "filter-select" %>
            <%= submit_tag "Filtrer", class: "filter-submit" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
    <!-- Fin du filter cards -->

    <!-- Début de la liste de salon -->
    <div class="salon-container">
      <% @salons.each do |salon| %>
        <div class="card-salon" >
          <%= link_to salon_path(salon), class: 'text-decoration-none' do %>
            <div class="card-body">
            <% if salon.certified? %>
              <div class="certified">
                <i class="fa-solid fa-circle-check"></i>
              </div>
            <% end %>
              <% if salon.photo.attached? %>
                <%= cl_image_tag salon.photo.variant(resize_to_fill: [100, 200]), width: 200, height: 100 %>
              <% else %>
                <%= cl_image_tag salon.photo.variant(resize_to_fill: [100, 200]), width: 200, height: 100 %>
              <% end %>
                <br>
                  <h5 class="card-title mb-2"><%= salon.name %></h5>
                  <p class="card-location"><%= salon.address %></p>
                  <p class="card-text"><%= salon.average_rating %> <i class="fa-solid fa-star"></i></p>
            </div>
        </div>
              <% end %>
              <% end %>
    </div>
  <!-- Fin de liste -->
</div>
