<div class="salons-container">

  <main class="main-content">
    <h1><%= @salon.name %></h1>
    <p>Adresse : <%= @salon.address %></p>
    <p>Description : <%= @salon.description %></p>
    <p>Certifié : <%= @salon.certified ? "Oui" : "Non" %></p>

  <h2>Services proposés :</h2>
  <ul>
    <% @professional_services.each do |professional_service| %>
      <li>
        <%= professional_service.service.name %> - <%= professional_service.service.price %> €
        <%= link_to "Choisir", new_professional_service_booking_path(professional_service), class: "btn btn-primary" %>
      </li>
    <% end %>
  </ul>


    <h2>Professionnels :</h2>
    <ul>
      <% @salon.professionals.each do |pro| %>
        <li><%= pro.first_name %> <%= pro.last_name %> - Spécialité : <%= pro.services.pluck(:name).join(", ") if pro.services.present? %></li>
      <% end %>
    </ul>
  </main>
</div>

<%= console %>
