<div class="container">
  <main class="card-show-content">
    <div class="profil-card-pro text-center">
      <%= cl_image_tag @salon.photo.key, class:"rounded mb-4", width: 300, height: 200, crop: :fill %>
      <h2><%= @salon.name %></h2>
      <p id="certified"><%= @salon.certified ? "Ce professionnel est certifié Estheticert ✓" : "" %></p>
    </div>
    <div class="card-pro">

      <div class="card-description text-center">
        <p><%= @salon.description %></p>
      </div>

        <p>
          <button
            class="onglet-nav" type="button" >CARTE DES SOINS
          </button>
        </p>
        <div>
          <ul>
            <% @professional_services.each do |professional_service| %>
              <li class="list_services">
                <p><%= professional_service.service.name %></p>
                <p id="price_tag"><%= professional_service.service.price %>€</p>
                <%= link_to "Choisir", new_professional_service_booking_path(professional_service), class: "btn-select" %>
              </li>
            <% end %>
          </ul>
          <p>
        </div>

        <p>
          <button
            class="onglet-nav" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInfos" aria-expanded="false" aria-controls="collapseInfos">INFORMATIONS GÉNÉRALES
          </button>
        </p>
        <div class="collapse" id="collapseInfos">

          <p>
            <button
              class="nav-card" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAdresse" aria-expanded="false" aria-controls="collapseAdresse">ADRESSE ET CONTACT
            </button>
          </p>
          <div class="collapse" id="collapseAdresse">
                <p>📍 </i><%= @salon.address %></p>
                <p>📞 </i><%= @salon.phone %></p>
          </div>

          <p>
            <button
              class="nav-card" type="button" data-bs-toggle="collapse" data-bs-target="#collapseXP" aria-expanded="false" aria-controls="collapseXP">FORMATION ET EXPÉRIENCE
            </button>
          </p>
          <div class="collapse" id="collapseXP">
            <p> 🎓 Parcours académique</p>
              <ul>
              <%# <% @salon.professionals.each do |pro| %>
                <% @diplomas.each do |diploma| %>
                  <%= diploma.date %> - <%= diploma.title %></p>
                <% end %>
              <%# <% end %>
              </ul>
            <p> 💅🏼 Parcours professionnel</p>
              <ul>
                <% unless @professionals.any? {|professional|professional.experiences} %>
                  <p>Aucune expérience renseignée.</p>
                <% end %>
                <% @professionals.each do |professional| %>
                  <% next unless professional.experiences %>
                  <li><%= professional.experiences %></li>
                <% end %>
              </ul>
            </div>

          <% if @salon.professionals.any? %>
            <p>
              <button
                class="nav-card" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEquipe" aria-expanded="false" aria-controls="collapseEquipe">EQUIPE DE SOIN
              </button>
            </p>
            <div class="collapse" id="collapseEquipe">
              <% @salon.professionals.each do |pro| %>
                  <p class="pro-salon"><%= pro.first_name %></p>
                  <p><%= pro.services.pluck(:name).join(", ") if pro.services.present? %></p>
                  <% end %>
                </div>
            </div>
          <% else %>
            <%# Ne rien afficher dans le bloc else %>
          <% end %>

        <p>
          <button
            class="onglet-nav" type="button" data-bs-toggle="collapse" data-bs-target="#collapseReco" aria-expanded="false" aria-controls="collapseReco">RECOMMANDATIONS
          </button>
        </p>
        <div class="collapse" id="collapseReco">
          <p><%= @salon.average_rating %></p>
          <% @bookings.each do |booking| %>
            <p><%= booking.rating %></p>
            <p><%= booking.review %></p>
          <% end %>
        </div>
    </div>
  </main>
</div>
