<%# Vue pour les bookings user %>

<div id="book-table-container" class="container">

<%= link_to "Accueil", root_path, class: "btn btn-resa" %>
<h1 id="h1-resa" class="text-center">Mes Réservations</h1>
  <table id="table-bookings" class="table">
    <thead class="thead">
      <tr>
        <th scope="col">Rendez-vous</th>
        <th scope="col">Mon Soin</th>
        <th scope="col">Avec</th>
        <th scope="col"></th>
      </tr>
      <tbody>
    <% @bookings.each do |booking| %>
    <tr>
      <td> Le <%= booking.start_date.day  %>/<%= booking.start_date.month %> à <%= booking.start_date.hour %>H</td>  <%# Heure/date rdv%>
      <td><%= booking.professional_service.service.name %> - <%= booking.professional_service.service.price %>€</td>  <%# Nom du service/prix%>
      <td><%= booking.professional_service.service.salon.name %></td>                                                <%# Nom du salon%>
      <td><%= button_to "Annuler", booking_path(booking), method: :delete, class: "btn btn-resa" %></td>                                           <%# Nom du pro%>
    </tr>
    <% end %>
  </tbody>
    </thead>
  </table>
</div>
