<!DOCTYPE html>
<html>
<head>
  <title>Salons</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>

  <div class="salons-container">

    <!-- Sidebar avec le dropdown -->
      <%= render 'pros/salons/sidebar' %>

    <!-- Contenu principal -->
    <main class="main-content">
      <%= yield %>
    </main>
  </div>

</body>
</html>
