<!DOCTYPE html>
<html>
  <head>
    <title>Reenew</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# <script type="text/javascript" src="https://try.abtasty.com/2818c37cf7a3438c1021b369dac8c9a5.js"></script> %>
  </head>

  <body><%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
<head>
  <!-- Ajouter FullCalendar CSS -->
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.css" rel="stylesheet" />

  <!-- Autres balises meta et styles -->
</head>

<body>
  <%= yield %>

  <!-- Ajouter FullCalendar JS -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.js"></script>

  <!-- Votre script JavaScript pour configurer FullCalendar -->
  <script>
    $(document).ready(function() {
      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        events: '/bookings.json',  // Utilisez cette route pour récupérer les réservations
        editable: true,
        droppable: true
      });
    });
  </script>
</body>
</html>
