<!DOCTYPE html>
<html>
  <head>
    <title>Reenew</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# <script type="text/javascript" src="https://try.abtasty.com/2818c37cf7a3438c1021b369dac8c9a5.js"></script> %>
  </head>

  <body class="<%= yield :body_class %>"><%= render "shared/navbar" %>
<%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
