<!DOCTYPE html>
<html>
  <head>
    <title>Reenew</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <!-- JS importmap -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- AB Tasty ♡ -->
    <script type="text/javascript" src="https://try.abtasty.com/2818c37cf7a3438c1021b369dac8c9a5.js"></script>

  </head>

  <body class="<%= yield :body_class %>">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
      <%= yield %>

  </body>
</html>
