<div class="dashboard-container">
  <aside class="sidebar">
    <h2>Mon Salon</h2>
    <ul>
      <li><%= link_to "Dashboard", #path %></li>
      <li><%= link_to "Planning", #path %></li>
      <li><%= link_to "Professionnels", #path %></li>
      <li><%= link_to "Services", #path %></li>
      <li><%= link_to "Modifier le Salon", #path %></li>
    </ul>
  </aside>

  <main class="content">
    <h2>Bienvenue dans votre espace propriétaire</h2>
  </main>
</div>
